beautifulsoup4==4.9.1
bs4==0.0.1
certifi==2020.6.20
chainmap==1.0.3
chardet==3.0.4
combomethod==1.0.12
fake-useragent==0.1.11
greenlet==0.4.16
html5lib==1.0.1
idna==2.10
mechanize==0.4.5
msgpack==1.0.0
neovim==0.3.1
nulltype==2.3.1
pynvim==0.4.1
requests==2.24.0
selenium==3.141.0
six==1.12.0
soupsieve==2.0.1
urllib3==1.25.9
useragent==0.1.1
webencodings==0.5.1
